* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.ps {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: black;
  }
}

@media (max-width: 992px) {
  #small-sc {
    color: rgb(255, 255, 255);
  }
}

.l {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 3px 0px 0px 3px;
  height: 37px;
  width: 36px;
  background-color: #e9ecef;
}

#logo {
  width: 130px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  position: fixed;
  width: 100%;
  z-index: 999999 !important;
  /* .sucess.show{
      display: block;

  } */
}
header nav img {
  width: 30px;
  height: 30px;
}
@media (max-width: 992px) {
  header nav {
    background-color: white;
    color: black;
  }
}
header .sucess {
  /* display: none; */
  position: absolute;
  top: 3rem;
  left: 0px;
  max-width: 100%;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  /* transform: translateY(-50%,-50%); */
  /* transform: translate(180%,180%); */
  z-index: 999;
  -webkit-animation: show_slide 4s ease-in-out forwards alternate;
          animation: show_slide 4s ease-in-out forwards alternate;
}
header .sucess_msg {
  margin: 0px 10px 0px;
  padding: 14px;
  border-radius: 10px;
  background-color: #5093f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 12px #999;
          box-shadow: 0 0 12px #999;
  color: white;
  font-size: 1rem;
  font-style: italic;
}
@-webkit-keyframes show_slide {
  20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50%, 80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes show_slide {
  20% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50%, 80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.register input, .login input {
  height: 41px;
  width: 279px;
  border-color: #e9ecef;
}

.register .rd {
  height: 20px;
  width: 20px;
}

.but {
  border: 3px solid rgb(81, 78, 241);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 200px;
}
.but:hover {
  background-color: rgb(81, 78, 241);
  color: white;
}

.lcr, .rcr {
  position: absolute;
  font-size: x-large;
  top: -13px;
  right: -8px;
  cursor: pointer;
  color: red;
}
.lcr:hover, .rcr:hover {
  color: rgb(10, 35, 108);
}

.pv {
  display: block;
  color: grey;
  font-style: italic;
  font-size: x-small;
}

.pe {
  color: red;
  font-style: italic;
  font-size: x-small;
}

.register {
  position: relative;
  width: 400px;
  padding: 0px 30px;
}

.register, .login {
  display: none;
  -webkit-animation: fadein 1s linear;
          animation: fadein 1s linear;
  z-index: 99999999999999 !important;
  color: white;
}

.footer {
  margin-top: 100px;
  padding: 60px;
  line-height: 35px;
}
.footer ul {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}