@import 'var';
@import 'mixin';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.ps {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c{
    color:black;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    @include res(992px){
        
        color:black;
    }
}   
#small-sc{
@include res(992px){
    color:rgb(255, 255, 255);
}
}
.l{
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 3px 0px 0px 3px;
    height: 37px;
    width: 36px;
    background-color: #e9ecef;
}

 #logo {
     width: 130px;
     height: 30px;
     object-fit: cover;
 }

header {
    transition: background-color 0.5s linear;
    position:fixed;
    width: 100%;
    // height:250px;
    z-index: 999999!important;

 
    nav{
    img{
        width:30px;
        height:30px;
    }
        @include res(992px){
            background-color:white;
            color:black
        }

    }
    .sucess{
        /* display: none; */
        position: absolute;
        top:3rem;
        left: 0px;
        max-width: 100%;
        transform: translateX(-200%);
        /* transform: translateY(-50%,-50%); */
        /* transform: translate(180%,180%); */
        z-index: 999;
        animation:  show_slide 4s ease-in-out forwards alternate;
    }
    .sucess_msg{
        margin: 0px 10px 0px;
        padding: 14px;
        border-radius: 10px;
        background-color: #28d328;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 12px #999;
        color: white;
        font-size: 1rem;
        font-style: italic;
    }
    /* .sucess.show{
        display: block;
        
    } */
    @keyframes show_slide {
        20% {
            transform: translateX(-100%);
        }
        50%,80% {
            transform: translateX(0%);
        } 
        100%{
            transform: translateX(-100%);
        }
    }   
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

 .register input,.login input {
    height: 41px;
    width: 279px;
  border-color:  #e9ecef;

}
.register .rd{
    height:20px;
    width:20px;
}
.but{
    border: 3px solid $t;
    transition: 0.9s;
    width: 200px;
    &:hover {
        background-color:$t;
        color: white;
    }

}
.lcr,.rcr{
    position: absolute;
    font-size: x-large;
    top: -13px;;
    right:-8px;
    cursor: pointer;
    color:red;
    
    &:hover{
        color:rgb(10, 35, 108);
    
    }
}
.pv{
    display:block;
    color:grey;
    font-style:italic;
    font-size: x-small;
}
.pe{
    color:red;
    font-style:italic;
    font-size: x-small; 
}
.register{
    position: relative;
    width:400px;
    padding: 0px 30px;
}
.register,.login{
    display:none;
    animation: fadein 1s linear;
    z-index: 99999999999999!important;
    color:white;
}

.footer{
    margin-top:100px;
    padding:60px;
    line-height: 35px;
    ul{
        list-style:none;
        li{
            a{
           text-decoration: none;
           color:white;
        }
    }
}
}