.a{
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    color:rgb(75, 95, 208);
      }
    &:before{
        content:'';
        position: absolute;
        left:0;
        bottom:0;
        height:25%;
        background-color:rgb(75, 95, 208);
        width:3px;
        transition: 0.9s;
    }
    &:after{
        content:'';
        position: absolute;
        left:0;
        bottom:0;
        width:25%;
        background-color:rgb(75, 95, 208);
        height:3px;
        transition: 0.9s;
    }
    &:hover::after{
        width:100%;
    }
    &:hover::before{
        height:100%;
    }
}
.pe{
    color:red;
    font-style:italic;
    font-size: x-small; 
}
